<html> 
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
 		<!-- Navigation Bar -->
        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <div class="container">
                <a class="navbar-brand" href="/">IPP Final Project</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>

		<!-- Page Content -->

		<div class="jumbotron">
		    <div class="container">


			<br>
		    	<!-- Profile image on left-->
		        <div class="col-md-6">
		            	<h2>About Me</h2>
		            	<br>
		            <img class="img-responsive" src="https://s17.postimg.org/pf3ptlh73/vlcsnap_2016_09_25_23h42m01s901.png" alt="" align="left" style="width:80%; height:auto;">
		        </div>


		        <!-- List on right side-->

		        <div class="col-md-6">
		            <br>
		            <br>
		            <br>
		            <br>
		            <br>
		            <h4>Things I love and would like to share:</h4>
			            <ul>
			                <li>
				                <p>
				                	<a href="http://www.imdb.com/title/tt0085809/" target="_blank"> Koyaanisqatsi</a> (Movie)
								</p> 
							</li>

							 <li>
				                <p>
				                	<a href="https://www.youtube.com/watch?v=0IBC0uXcPKQ&list=PLC406416C3900B723&index=42/" target="_blank"> Old Lost John by Sonny Terry</a> (Tune)
								</p> 
							</li>

							 <li>
				                <p>
				                	<a href="http://www.theintercept.com" target="_blank"> The Intercept</a> (News source)
								</p> 
							</li>

							<li>
				                <p>
				                	<a href="https://s15.postimg.org/iya114g4r/cpobbqc.png" target="_blank"> Free Cuddles</a> (Picture)
								</p> 
							</li>
						</ul>
		            
		        </div>
		    </div>
		</div>


		<div class="container">
            <!-- Footer -->
            <footer>
                <p>© Karim Lahoud 2016</p>
            </footer>
        </div>

	     

	</body>
</html>