<html> 
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my one month python project</h1>
				<p>My name is Karim Lahoud, I'm 7 years old and I like marmelade.</p>
				<a href="{{ url_for('index') }}">Back to homepage></a>
			</div>
		</div>
	</body>
</html>
